<p>
    <strong>Privacy Policy for <q>More Real Stories</q>. </strong>
</p>
<p>
    <strong>Effective</strong>
    :
</p>
<p>
    At <q>More Real stories</q>, one of our main priorities is the privacy of our
    visitors. This Privacy Policy document contains types of information that
    is collected and recorded by <q>More Real Stories</q> (app/application) and how
    we use it.
</p>
<p>
    If you have additional questions or require more information about our
Privacy Policy, do not hesitate to contact us. (message us at    <a href="mailto:Team@morerealstories.com">Team@morerealstories.com</a> )
</p>
<p>
    <strong>Log Files :</strong>
</p>
<p>
    More Real Stories follows a standard procedure of using log files. These
    files log visitors when they use the app.
</p>
<p>
    The information collected by log files includes device id, internet
    protocol (IP) addresses, browser type, Internet Service Provider (ISP),
    date and time stamp, referring/exit pages, and possibly the number of
    clicks. These are not linked to any information that is personally
    identifiable.
</p>
<p>
    The purpose of the information is for analyzing trends, administering the
    app, tracking users' movement on the app, and gathering demographic
    information so that your app user experience is made more good hence
    providing you a more satisfactory user experience and content.
</p>
<p>
    <strong>
        Our Advertising and Billing (in-app purchase service) Partners :
    </strong>
</p>
<p>
    <strong>Advertising partners : </strong>
</p>
<p>
    Some of the advertisers in our app may use cookies and web beacons. Our
    advertising partners are listed below.
</p>
<p>
    Each of our advertising partners has its own Privacy Policy for its
    policies on user data. For easier access, we hyperlinked to their Privacy
    Policies below :
</p>
<p>
    Google AdMob:
    <a href="https://policies.google.com/privacy">
        https://policies.google.com/privacy
    </a>
</p>
<p>
    Mopub:
    <a href="https://www.mopub.com/legal/privacy">
        https://www.mopub.com/legal/privacy
    </a>
</p>
<p>
    Adcolony:
    <a href="https://www.adcolony.com/privacy-policy">
        https://www.adcolony.com/privacy-policy
    </a>
</p>
<p>
    Applovin:
    <a href="https://www.applovin.com/privacy">
        https://www.applovin.com/privacy
    </a>
</p>
<p>
    <strong>Billing (in-app purchase service) partners :</strong>
</p>
<p>
    Google Play:
    <a
        href="https://payments.google.com/legaldocument?family=0.privacynotice&amp;hl=en"
    >
        https://payments.google.com/legaldocument?family=0.privacynotice&amp;hl=en
    </a>
</p>
<p>
    App store:
    <a href="https://www.apple.com/in/legal/privacy/">
        https://www.apple.com/in/legal/privacy/
    </a>
</p>
<p>
    You may consult this list to find the Privacy Policy for each of the
    advertising partners of <q>More Real Stories</q>.
</p>
<p>
    Third-party ad servers or ad networks use technologies like cookies,
    JavaScript, or Beacons that are used in their respective advertisements,
    and links that appear above have more deep details of what they do.
</p>
<p>
    In brief: They automatically receive your IP address when this occurs.
    These technologies are used to measure the effectiveness of their
    advertising campaigns and/or to personalize the advertising content that
    you see on this app or other apps or websites.
</p>
<p>
    <strong>Related to Third Party Privacy Policies: </strong>
</p>
<p>
    Note that More Real Stories has no access to or control over these cookies
    that are used by third-party advertisers.
</p>
<p>
    More Real Stories's Privacy Policy does not apply to other advertisers or
    websites. Thus, we are advising you to consult the respective Privacy
    Policies of these third-party ad servers for more detailed information. It
    may include their practices and instructions about how to opt out of
    certain options.
</p>
<p>
    <strong>Special mention regarding Children : </strong>
</p>
<p>
    More Real Stories is specially, solely made for adults 18+ years of age and
    is listed on google play store and app store, and every other app
    distribution store and website as only for 18+ year old adults . if any
    child under 18 year of age, downloads the app or use the app, it will be
    the sole responsibility of his/her parents or who the owner of that mobile
    phone is, in short, his or her parents /guardians/friend will be
    responsible for any damages or any form of bad feelings.
</p>
<p>
    Another part of our priority is adding protection for children while using
    the internet. We remind again and encourage parents and guardians and
    friends to observe, participate in, and/or monitor and guide their online
    activity.
</p>
<p>
    <strong>More real stories and personal information management: </strong>
</p>
<p>
    More Real Stories does not knowingly collect any Personal Identifiable
    Information from any user/individual except the user’s device id in case of
    android and UDID in case of IOS. If you think that you provided any more
    information except what we mentioned above, on our App, we strongly
encourage you to contact us immediately (at    <a href="mailto:team@morerealstories.com">team@morerealstories.com</a>) and
    we will do our best efforts to promptly remove such information from our
    records and take strict action so that it is not repeated or done in any
    other form in future.
</p>
<p>
    This Privacy Policy applies only to our online activities and is valid for
    visitors to our App with regards to the information that they shared and/or
    collect in <q>More Real Stories</q>. This policy is not applicable to any
    information collected offline or via channels other than this app.
</p>
<p>
    <strong>Consent : </strong>
</p>
<p>
    By downloading our app, you hereby consent to our Privacy Policy and agree
    to it.
</p>
<p>
    Enjoy reading.
</p>